*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Montserrat', sans-serif;
}

/* header */
header{
    width: 80%;
    margin: 0 auto;
    
}

#logo{
    height: 100px;
    padding-right: 30px;
    border-right: solid 1px grey;
}

li{
    display: inline-block;
    padding-right: 40px;
    color: grey;
    margin-top: 30px;
}

/* jumbotron */

.firstcube{
    
    width: 80%;
    margin: 50px auto;
    
}

.banner{
    width: 80%;
    object-fit: cover;
    width: 100%;
    height: 500px;
    
}



/* parte principale */
.container{
    display: table;
    content: "";
    clear: both;
    height: 500px;
    width: 80%;
    margin: 0 auto;
    background-color: rgb(2, 72, 95);
    padding-bottom: 30px;
}

.cubosopra{
    width: 100%;
    height:50px;
    background-color: lightblue;
    margin-bottom: 30px;
}

.side{
    float: left;
    width: 25%;
    background-color: lightblue;
    height: 500px;
}

.centre{
    float: left;
    width: 48%;
    background-color: lightblue;
    height: 500px;
    margin: 0 1%;
}



footer{

    width: 80%;
    margin: 30px auto;
    height: 100px;
    background-color: rgb(126, 22, 121)
}